@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
    --primary-color: #d63031;
    --secondary-color: #636e72;
    --font: 'Poppins', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.btn {
    padding: .6rem .8rem;
    text-transform: uppercase;
    font-family: var(--font);
    background: var(--primary-color);
    color: white;
    font-size: 16px;
    text-decoration: none;
    outline: none;
    border: 2px solid var(--primary-color);
    transition: .3s;
    cursor: pointer;
}
.btn:hover {
    background: transparent;
}
body {
    background: black;
    font-family: var(--font);
}
nav {
    position: fixed;
    width: 100vw;
    height: 60px;
    border-top: .5rem solid var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999999;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 15%;
    font-weight: 700;
    background: var(--primary-color);
}
.logo::before {
    content: "GYM";
    color: white;
}
.logo::after{
    content: "Today";
    color: black;
}
ul {
    display: flex;
    align-items: center;
    height: 60px;
}
ul a {
    text-decoration: none;
    color: white;
    margin: 0 2rem;
    text-transform: uppercase;
    font-family: var(--font);
    font-weight: 700;
    font-size: 16px;

}
ul li {
    list-style: none;

}
ul a:hover {
    color: var(--primary-color);

}
.banner {
    background: url(img/slider-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 85vh;
}
.intro {
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
}
.intro h2, p {
    display: block;
    width: 60%;
}
.intro h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 30px;
}
.intro .btn {
    margin-top: 2rem;
}
.row {
    display: flex;
    justify-content: center;
}
.card {
    width: 33.3%;
    height: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.card h2 {
    text-transform: uppercase;
}